<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>gareth bk | about</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto" rel="stylesheet">

    <link rel="icon" type="image/png" href="img/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

  </head>
  <body>

    
        <nav class="navbar is-fixed-top unscrolled" role="navigation" aria-label="main navigation">

        <div class="container">

            <div class="navbar-brand">
                <a class="navbar-item" href="<%= navigation.home.url %>">gbk</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <span class="navbar-item">/</span>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="<%= navigation.work.url %>"><%= navigation.work.title %></a>
                    <span class="navbar-item">/</span>
                    <a class="navbar-item" href="<%= navigation.about.url %>"><%= navigation.about.title %></a>
                    <span class="navbar-item">/</span>
                    <a class="navbar-item" href="<%= navigation.contact.url %>"><%= navigation.contact.title %></a>
                </div>
            </div>

            </div>

        </nav>

        <section id="hero-full" class="hero pt-5">
            <div class="hero-body">
                <div class="container has-text-centered">

                    <div class="inset">

                    <p class="is-size-3 p-1">Born and raised in Northern Virginia; today I am located in San Diego, CA.  I like utilizing the power of modern web technology to create interactive experiences.</p>
                    <br />
                    <p  class="is-size-3">You'll find me working with...</p>

                    <div class="columns mt-5">
                        <div class="column">
                            <img src="img/logos/html5-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/css3-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/js-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/sass-logo.png" />
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <img src="img/logos/nodejs-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/react-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/wordpress-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/php-logo.png" />
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <img src="img/logos/phaser-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/mongodb-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/mysql-logo.png" />
                        </div>
                        <div class="column">
                            <img src="img/logos/photoshop-logo.png" />
                        </div>
                    </div>

                    </div>

                </div>
            </div>
        </section>

        <footer class="footer">
        <div class="container">
            <div class="content">
            <p>© 2018 gareth bk</p>
            </div>
        </div>
        </footer>
        

  </body>
</html>
