<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>gareth bk | work</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto" rel="stylesheet">

    <link rel="icon" type="image/png" href="img/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

  </head>
  <body>

    
        <nav class="navbar is-fixed-top unscrolled" role="navigation" aria-label="main navigation">

        <div class="container">

            <div class="navbar-brand">
                <a class="navbar-item" href="<%= navigation.home.url %>">gbk</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <span class="navbar-item">/</span>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="<%= navigation.work.url %>"><%= navigation.work.title %></a>
                    <span class="navbar-item">/</span>
                    <a class="navbar-item" href="<%= navigation.about.url %>"><%= navigation.about.title %></a>
                    <span class="navbar-item">/</span>
                    <a class="navbar-item" href="<%= navigation.contact.url %>"><%= navigation.contact.title %></a>
                </div>
            </div>

            </div>

        </nav>

        <section id="hero-full" class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="inset">

                    <h1 class="is-size-1 has-text-centered mb-1">My work</h1>

                    <div class="columns">

                        <div class="column">
                            <a href="https://origin-hackathon-qipuplrkrg.now.sh/" target="_blank"><img src="img/projects/stravisualize.jpg" /></a>
                        </div>

                        <div class="column has-text-left">
                            <h2 class="is-size-3"><a href="https://origin-hackathon-qipuplrkrg.now.sh/" target="_blank">Stravisualize</a></h2>
                            <p>Displays Strava data.  To use, create a new Strava app and use the generated API key.</p>
                            <p>Written in React with the Material UI component library.  Utilizes the Strava and Google Maps APIs.  Created for Origin Code Academy's REACT100 hackathon.</p>
                            <br />
                            <p><a href="https://github.com/garethpbk/stravisualize" target="_blank">https://github.com/garethpbk/stravisualize</a></p>
                        </div>
                    
                    </div>

                    <div class="columns">

                        <div class="column">
                            <a href="https://github.com/garethpbk/catgame" target="_blank"><img src="img/projects/catgame.jpg" /></a>
                        </div>

                        <div class="column has-text-left">
                            <h2 class="is-size-3"><a href="https://github.com/garethpbk/catgame" target="_blank">9 Lives</a></h2>
                            <p>Platformer game about a cat.  Inspired by Metroid, Castlevania, and Hollow Knight.</p>
                            <p>Utilizes the Phaser JS game development library.  In active development.  Some resources created by me, some taken from <a href="https://opengameart.org/" target="_blank">OpenGameArt.org</a>.</p>
                            <br />
                            <p><a href="https://github.com/garethpbk/catgame" target="_blank">https://github.com/garethpbk/catgame</a></p>
                        </div>
                    
                    </div>

                    <div class="columns">

                        <div class="column">
                            <a href="https://gbk-react100-vstda.herokuapp.com/" target="_blank"><img src="img/projects/vstda.jpg" /></a>
                        </div>

                        <div class="column has-text-left">
                            <h2 class="is-size-3"><a href="https://gbk-react100-vstda.herokuapp.com/" target="_blank">Very Simple Todo App</a></h2>
                            <p>A very simple todo app.</p>
                            <p>Written in React, utilizes Bootstrap 4.  Created for Origin Code Academy REACT200 VSTDA project.</p>
                            <br />
                            <p><a href="https://github.com/garethpbk/startnow-react100-vstda" target="_blank">https://github.com/garethpbk/startnow-react100-vstda</a></p>
                        </div>
                    
                    </div>

                    </div>
                    
                </div>
            </div>
        </section>

        <footer class="footer">
        <div class="container">
            <div class="content">
            <p>© 2018 gareth bk</p>
            </div>
        </div>
        </footer>
        

  </body>
</html>
